// =============================================================================
// Custom application styles
// =============================================================================

.main {
  margin-top: 10px;
}

// Wind container style
.wind {
}

// Metrics
.metric {

  margin-bottom: 25px;
  white-space: nowrap;

  label {
    color: rgb(169, 169, 169);
    font-size: @metric-label-font-size;
  }

  .value {
    font-size: @metric-value-font-size;
    line-height: @metric-value-font-size;
  }

  .value-time {
    font-size: @metric-value-font-size / 2;
    line-height: @metric-value-font-size / 2;
  }

  .value-date {
    font-size: @metric-value-font-size / 3;
    line-height: @metric-value-font-size / 3 + 10;
  }

}

// Wind barbs
.windbarb {
    position: relative;
    top: @wind-barb-top;
    left: @wind-barb-left;
}

.windbarbsymbol {
  font-family: esri_weatherregular;
  font-size: @wind-barb-font-size;
  font-weight: bold;
  position: absolute;

}

.wind-barb-color-4kts { color: @wind-barb-4kts; }
.wind-barb-bgcolor-4kts { background-color: @wind-barb-4kts; }
.wind-barb-color-8kts { color: @wind-barb-8kts; }
.wind-barb-bgcolor-8kts { background-color: @wind-barb-8kts; }
.wind-barb-color-12kts { color: @wind-barb-12kts; }
.wind-barb-bgcolor-12kts { background-color: @wind-barb-12kts; }
.wind-barb-color-16kts { color: @wind-barb-16kts; }
.wind-barb-bgcolor-16kts { background-color: @wind-barb-16kts; }
.wind-barb-color-20kts { color: @wind-barb-20kts; }
.wind-barb-bgcolor-20kts { background-color: @wind-barb-20kts; }
.wind-barb-color-24kts { color: @wind-barb-24kts; }
.wind-barb-bgcolor-24kts { background-color: @wind-barb-24kts; }
.wind-barb-color-28kts { color: @wind-barb-28kts; }
.wind-barb-bgcolor-28kts { background-color: @wind-barb-28kts; }
.wind-barb-color-32kts { color: @wind-barb-32kts; }
.wind-barb-bgcolor-32kts { background-color: @wind-barb-32kts; }
.wind-barb-color-36kts { color: @wind-barb-36kts; }
.wind-barb-bgcolor-36kts { background-color: @wind-barb-36kts; }
.wind-barb-color-40kts { color: @wind-barb-40kts; }
.wind-barb-bgcolor-40kts { background-color: @wind-barb-40kts; }

.windcolors {
  padding: 5px;
}
