// =============================================================================
// Custom application styles
// =============================================================================

.main {
  margin-top: 30px;
}

// Wind styles
.wind {

  .metric {

    label {
      font-size: 20px;
    }

    .value {
      font-size: 60px;
    }

    .value-time {
      font-size: 40px;
    }

    .value-date {
      font-size: 30px;
    }

  }

}

// Wind barbs
.windbarb {
    position: relative;
    margin-left: 50px;
}

.windbarbsymbol {
  font-family: esri_weatherregular;
  font-size: 230px;
  font-weight: bold;
  position: absolute;

}
