// =============================================================================
// Variables
// =============================================================================

@import "../../node_modules/bootstrap/less/variables.less";

//
// Fonts
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'esri_weatherregular';
  src: url('../fonts/esriweather-webfont.eot');
  src: url('../fonts/esriweather-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/esriweather-webfont.woff2') format('woff2'),
  url('../fonts/esriweather-webfont.woff') format('woff'),
  url('../fonts/esriweather-webfont.ttf') format('truetype'),
  url('../fonts/esriweather-webfont.svg#esri_weatherregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

//
// Scaffolding
// -----------------------------------------------------------------------------

// Background color for `<body>`
@body-bg: #fff;
// Global text color on `<body>`
@text-color: #484848;
// Global textual link color
// @link-color: #c05b4d;

//
// Metrics
// -----------------------------------------------------------------------------

// Metric label font size
@metric-label-font-size: 20px;
// Metric value font size (wind speed and direction)
@metric-value-font-size: 60px;

//
// Wind barb
// -----------------------------------------------------------------------------

// Wind Barb symbol font size
@wind-barb-top: 80px;
@wind-barb-left: 40px;
@wind-barb-font-size: 150px;
